<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/1e62d76f8b.js" crossorigin="anonymous"></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- style -->
    <link rel="stylesheet" href="./style/style.css">

    <title>Boolzapp</title>
</head>

<body>
    <div id="app" class="flex">
        <aside>
            <header class="head card">
                <div class="card-img">
                    <img src="./img/avatar_io.jpg" alt="">
                </div>
                <menu class="card-side">
                    <li><i class="fa-solid fa-circle-notch"></i></li>
                    <li><i class="fa-solid fa-message"></i></li>
                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                </menu>
            </header>

            <section class="info-msg-box card">
                <div class="card-img info-icon">
                    <i class="fa-solid fa-bell-slash"></i>
                </div>
                <div class="card-content">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <p>Attiva notifiche desktop</p>
                </div>
            </section>

            <form class="search card">
                <div class="card-img">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="card-side">
                    <input type="text" id="search" placeholder="Cerca o inizia una nuova chat">
                </div>
            </form>

            <section class="contact">
                
                <div v-for="(contact, i) in contacts" @click="currentUserId = i" class="user card">
                    <div class="card-img">
                        <img :src="contact.avatar" alt="avatar-icon">
                    </div>
                    <div class="card-content">
                        <p> {{ contact.name }} </p>
                        <p>Lorem ipsum dolor sit amet.</p>

                    </div>
                    <div class="card-side">
                        <p>16:15</p>
                    </div>
                </div>

            </section>
        </aside>

        <main class="flex flex-column">
            <section class="head card">
                <div class="card-img">
                    <img src="./img/avatar_1.jpg" alt="">
                </div>
                <div class="card-content">
                    <p>Michele</p>
                    <p>Ultimo accesso oggi alle 16:15</p>
                </div>
                <menu class="card-side">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-paperclip"></i></li>
                    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                </menu>
            </section>

            <section class="message-box">
                <div class="message-body flex flex-column">

                    <div v-for="message in contacts[currentUserId].messages" :class="message.status === 'sent' ? 'my-msg' : 'current-user-msg'" class="max-col-8 msg">
                        <p>
                            {{ message.message }}
                        </p>
                        <p>{{ message.date.slice(11, 16) }}</p>
                    </div>

                </div>
            </section>
            <form class="new-message flex align-center">

                <button class="bt-style1"><i class="fa-regular fa-face-smile"></i></button>
                <input type="text" placeholder="Scrivi messaggio">
                <button class="bt-style1"><i class="fa-solid fa-microphone"></i></button>

            </form>
        </main>
    </div>
    <script src="./js/app.js"></script>
</body>

</html>